#overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
}

#overlay > div {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px 200px;
	filter: grayscale(100%);
	opacity: 0.15;
}

#overlay.on {
	pointer-events: auto;
	opacity: 1;
}